@model IList<CategoryResVM>

@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Descrption</th>
            <th>Subcategory</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                 List<string> SubCatsName=new();
                <tr>
                    <td>@item.Name</td>
                    <td>@item?.Description</td>
                    @foreach (var subCat in @item?.SubCategories)
                    {
                        SubCatsName.Add(subCat.Name);
                    }
                    <td>@string.Join("|", SubCatsName)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item?.Id" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item?.Id" class="btn btn-sm btn-info">Details</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No categories found.</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Create New Category</a>